.site-header {
    background-color: #fff;
}

.site-header__header-bar {
    padding: 20px;
    font-size: 1.25rem;
    line-height: 1;
    border-bottom: solid 1px #dcdcdc;
}

.site-header__nav {
    display: none;
    border: 1px solid #ddd;   
    padding: 20px;

    a {
        display: block;
        padding: 0 4px;
    }

    .site-header--open & {
        display: block;
    }
}

.site-header__menu-toggle {
    border: 1px solid #ccc;
    // width: 20px;
    // height: 20px;
    // display: block;
    padding: 12px;
    margin-right: 12px;
    vertical-align: middle;
}